name: CI/CD with Docker and AWS EC2
 
on:
  push:
    branches:
      - main
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
 
    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
 
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/groupg-python-app .
 
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/groupg-python-app
 
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/groupg-python-app
          docker stop app || true
          docker rm app || true
          docker run -d -p 8080:8000 --name app ${{ secrets.DOCKER_USERNAME }}/groupg-python-app
